/* 
==============
Variables
============== 
*/

:root {
    /* background colors */
    --clr-bg-1: #6c8888;
    --clr-bg-2: #3f4e4e;
    /* text colors */
    --clr-text: white;
    /* components colors */
    --clr-bread: #d3ad82;
    --clr-ham: #8b3300;
    --clr-cheese: #ffd932;
    --clr-lettuce: #31ad00;
    --clr-tomato: #c50000;
    --clr-onion: #86004a;
    --clr-fish: #fffffa;
    
    --ff-font: "Montserrat";
}

/* 
==============
Global styles
============== 
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
    font-family: var(--ff-font);
    font-size: 12pt;
    letter-spacing: 0.5px;
    line-height: 120%;  
    background-color: var(--clr-bg-1);
    color: var(--clr-text);
}

a {
    text-decoration: none;
    color: var(--clr-cheese);
}
a:hover {
    transition: 1s;
    color: white;
}

.container {
    width: 700px;
    height: 91%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.header {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

.order {
    display: flex;
    height: 19%;
    flex-direction: row;
    margin-bottom: 1%;
    transition: transform 0.5s;
}

.burger, .player, .components {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 28%;
    padding: 20px;
    background-color: var(--clr-bg-2);
    border-right: 3px solid white;
    gap: 6%;
}

.burger {
    border-radius: 30px 0 0 30px;
}

.components {
    width: 44%;
    flex-wrap: wrap;
    align-content: space-evenly;
    border: none;
    border-radius: 0 30px 30px 0;
}

.bread-top, .ham, .cheese, .lettuce, 
.tomato, .onion, .fish, .bread-bottom {
    width: 90px;
    height: 17%;
    border-radius: 8px;
}

.bread-top {
    height: 30%;
    border-radius: 30px 30px 3px 3px;
    background-color: var(--clr-bread);
}

.bread-bottom {
    border-radius: 3px 3px 8px 8px;
    background-color: var(--clr-bread);
}

.ham {
    background-color: var(--clr-ham);
}

.cheese {
    background-color: var(--clr-cheese);
}

.lettuce {
    background-color: var(--clr-lettuce);
}

.tomato {
    background-color: var(--clr-tomato);
}

.onion {
    background-color: var(--clr-onion);
}

.fish {
    background-color: var(--clr-fish);
}

.score {
    display: flex;
    background-color: var(--clr-bg-2);
    border-radius: 10px;
    margin: 0 4px 0 0;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 50px;
    font-size: 36pt;
}

#progressBar {
    display: flex;
    width: 700px;
    height: 3%;
    margin: auto;
    background-color: #ddd;
    border-radius: 15px;
}

#progress {
    width: 0%;
    height: 100%;
    background-color: var(--clr-cheese);
    border-radius: 15px;
}

.footer {
    display: flex;
    height: 4%;
    width: 700px;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5% auto;
}

.removed {
    transform: scale(0.1);
}

#time-speeds-up {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
}

.animation-start {
    animation-name: animation-time-speeds-up;
    animation-duration: 1.5s;
}
  
@keyframes animation-time-speeds-up{
    from {
        opacity: 100%;
        font-size: 30px;
    }
    to {
        opacity: 0;
        font-size: 150px;
    }
}

#modal-game-over{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-game-over-content {
    padding: 30px 50px;
    background-color: var(--clr-bg-2);
    border-radius: 30px;
    line-height: 200%;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
}

#modal-game-over-content h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#modal-game-over-content table {
    width: 100%;
    background-color: var(--clr-bg-1);
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
    border-radius: 20px;
}

#modal-game-over-content tbody tr:nth-child(odd) {
    background-color: white;
}

#modal-game-over-content tbody tr:nth-child(even) {
    background-color: #ececec;
}

#modal-game-over-content tbody {
    color: var(--clr-bg-2)
}

#modal-game-over-content td, th {
    padding: 10px;
}

#modal-game-over-content caption {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}

#modal-game-over-content button {
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: #31ad00;
    color: white;
    width: 40%;
    border-radius: 30px;
    cursor: pointer;
}